


<div class="container row ">
{{#each mostrarcandidatos }}
 

  <form class="col-6" action="/estadisticas/{{_id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        
        <input type="hidden" name="voto" value={{numvotos}}>
       <input type="hidden" name="id" value={{_id}}>
       <input type="hidden" name="sexo" value={{../sexoNewVotante}}>
       <input type="hidden" name="nombre" value={{../nombreNewvotante}}>
       <input type="hidden" name="dni" value={{../dniNewVotante}}>
       
       
       
        
    
      <div class="card">
        <img class="card-img-top" src="{{img}}" alt="" />
        <div class="card-body">
          
          <div class="card-text text-center">
         
                <div>{{nombrePartido}}</div> 
                <div>{{nombreCandidato}}</div>

               
                
                  
          

          
         <button type="submit"> votan</button>
          </div>

        </div>
      </div>
  </form>
      
  
{{/each}}
</div>